<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zx.mapper.ArticleMapper">
  <select id="findArticleMsgByCode"  resultType="com.zx.vo.ArticleVo">
  
  select * from ec_article where type_code like #{typeCode} and title like #{keyWord} limit #{pageModel.pageIndex} , #{pageModel.pageSize}
  </select>

<select id="findArticleMsgById" resultMap="ArticleMapper">
select * from ec_article where id =#{id}
</select>

<resultMap type="com.zx.vo.ArticleVo" id="ArticleMapper">
<result column="type_code" property="typeCode"/>
<result column="create_date" property="createDate"/>
<result column="putaway_date" property="putawayDate"/>


</resultMap>










  
</mapper>