<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zx.mapper.UserMapper">

<insert id="userRegister"  >

insert  into ec_user(login_name,name,password,sex,phone,address,email,create_date,role,disabled,active) values(#{loginName},#{name},#{password},#{sex},#{phone},#{address},#{email},#{createDate},#{role},#{disable},#{active})

</insert>

<select id="marchUserMsg"  resultMap="UserMapper">
select *  from ec_user where login_name=#{loginName} 
</select>

<resultMap type="com.zx.vo.UserVo" id="UserMapper">
<result column="login_name"  property="loginName"/>
<result column="create_date"  property="createDate"/>
<result column="disabled"  property="disable"/>

</resultMap>

</mapper>